<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @image.status %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @image.image_url %>
</p>

<p>
  <strong>Redacted url:</strong>
  <%= @image.redacted_url %>
</p>

<p>
	<img src=<%=@image.image_url%> height: 45, width: 45 >
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
